* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d6c9c9;
}

/* Card */
.card {
    
  width: 320px;
  background: rgb(255, 255, 255);
  border-radius: 28px;
  box-shadow: 0 25px 40px rgba(0,0,0,0.12);
  padding: 10px;
}

/* Image */
.image-wrapper {
  border-radius: 22px;
  overflow: hidden;
}

.image-wrapper img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

/* Content */
.card-content {
  padding: 16px 8px;
}

.name {
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
}

.verified {
  background: #22c55e;
  color: white;
  font-size: 12px;
  padding: 3px 6px;
  border-radius: 50%;
}

.bio {
  font-size: 14px;
  color: #555;
  margin: 10px 0 18px;
  line-height: 1.4;
}

/* Footer */
.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.stats {
  display: flex;
  gap: 14px;
  font-size: 14px;
  color: #8a8787;
}

.follow-btn {
  background: #f1f1f1;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s;
}

.follow-btn:hover {
  background: #000;
  color: #fff;
}

